In [2]:
import pandas as pd
import os
import numpy as np
import glob

In [20]:
os.chdir(r"D:\\github\\man-vs-BirdNet-summer-2024-\\embeddings\\common_resources\heard_datafiles\\")
df= pd.read_csv("filt_ds.csv")
df

,Unnamed: 0,name,date,time code,loc,wea,datetimelabel
0,0,black kite,20240523,0,B7,cloudy,20240523_0
1,1,common tailorbird,20240523,0,B7,cloudy,20240523_0
2,2,white cheeked barbet,20240523,0,B7,cloudy,20240523_0
3,3,common myna,20240523,0,B7,cloudy,20240523_0
4,4,jungle myna,20240523,0,B7,cloudy,20240523_0
...,...,...,...,...,...,...,...
24196,24196,black naped monarch,20221126,57,Jubilee,cloudy,20221126_57
24197,24197,indian paradise flycatcher,20221126,57,Jubilee,cloudy,20221126_57
24198,24198,ashy drongo,20221126,57,Jubilee,cloudy,20221126_57
24199,24199,cinerous tit,20221126,57,Jubilee,cloudy,20221126_57
24200,24200,black drongo,20221126,58,Jubilee,cloudy,20221126_58

In [21]:
len(set(df["name"]))

4245